extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'product';

block eod
  script
    +loadModule('pages/product.js')

block content
  main
    div.container
      .row
        .col
          img(src=product.mainImage)
          ol
            each item in product.images
              li
                img(src=item height="50px")
        .col
          if error
            p Ups there is an error, try again
            p= error
          else
            
            h3.productName= product.name

          if product.inStock
            p (Stock available)
          else
            p (Stock not available)
          
          h6.heading Price:
          if product.price
            h2.price= product.price
          else
            p Not available

          h6.heading Rating:
          p.mb-0= product.customerReview
          p &nbsp;Total Reviews: 
            span= product.customerReviewCount

          h6.heading Description:
          p.description= product.description

            
            h6.heading Features:
            ul
              each item in product.features
                li
                  p= item
            a(href=product.canonicalUrl target="_blank")
               button.btn.btn-primary.btn-lg View Product

